<%  # If the order is in the confirmation stage this variable will be true
		confirmation = @order.status == 'confirmation' ? true : false 
%>


<div class="container">

	<% if !confirmation %>
			<%= simple_form_for(:payment, url: order_create_payment_path(@order)) do |f| %>
				<%= render partial: 'payment_form_content', locals: {f: f} %>
			<% end %>
	<% else %>
			<%= simple_form_for(@payment) do |f| %>
				<%= render partial: 'payment_form_content', locals: {f: f} %>
			<% end %>
	<% end %>

</div>
